/*
    Here for the pretty colors or fonts? I gotchu, fam:

    * Colors
    #000000 - Registration Black
    #3D2645 - Russian Violet
    #832161 - Dark Raspberry
    #DA4167 - Paradise Pink
    #F0EFF4 - Anti-Flash White
    #E8EDDF - Platinum
    #696A6F - Grey Worm
    #FFA723 - Bright Yellow
    #B50E0E - International Orange (Engineering)
    #1E96FF - Dodger Blue

    * Google Fonts
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
*/

/* --- HTML, Body, Links --- */
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    background-color: #000000;
    padding: 0px 10px;
}
a {
    color: #DA4167;
    text-decoration: none;
}

/* --- Main container --- */
.container {
    max-width: 650px;
    margin: 0 auto;
    content: "";
    clear: both;
    display: table;
}
.header {
    padding: 5px 10px;
}
.header h1 {
    font-family: 'Roboto', monospace;
    color: #F0EFF4;
}
.header h2 {
    font-family: 'Merriweather', serif;
    color: #696A6F;
}

/* --- Menu --- */
.menu-container {
    font-family: 'Roboto', monospace;
    align-items: center;
    padding: 15px 10px;
    max-width: 768px;
    display: flex;
    color: #E8EDDF;
}
#github, #twitter, #linkedin, #email, #github a, #twitter a, #linkedin a, #email a {
    color: #F0EFF4;
    padding: 0px 20px 0px 5px;
    line-height: 0;
}
#github, #email {
    border-bottom: 5px solid #3D2645;
}
#twitter {
    border-bottom: 5px solid #832161;
}
#linkedin {
    border-bottom: 5px solid #DA4167;
}

/* --- Description tag --- */
.description {
    font-family: 'Merriweather', serif;
    padding: 15px 15px 5px 0px;
    font-size: 14px;
    color: #F0EFF4;
}

/* --- Footer --- */
.footer {
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 12px;
    color: #F0EFF4;
    padding: 10px;
}

/* --- Three blocks --- */
.inner-container {
    font-family: 'Roboto', monospace;
    color: #E8EDDF;
    padding: 10px;
    width: 100%;
}
#first, #second, #third {
    padding: inherit;
}
#first {
    background-color: #3D2645;
}
#second {
    background-color: #832161;
}
#third {
    background-color: #DA4167;
}
.inner-block {
    transition-property: width;
    transition-duration: 50ms;
    max-width: inherit;
    height: max-content;
    overflow: hidden;
    padding: 10px;
    display: none;
}
#two {
    padding: 25px;
}

/******************************
        Media Queries
*******************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    [class*="col-"] {
        padding: 0px 5px 0px 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
