/*
    Here for some design pointers? I gotchu:

    /* Colors
    #000000 - Registration Black
    #3D2645 - Russian Violet
    #832161 - Dark Raspberry
    #DA4167 - Paradise Pink
    #F0EFF4 - Anti-Flash White
    #E8EDDF - Dream Cream
    #F6BD60 - Rajah
    #696A6F - Grey Worm
    #FFA723 - Bright Yellow
    #B50E0E - International Orange
    #1E96FF - Dodger Blue

    /* Fonts
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
*/
html, body {
    margin: 0;
    height: 100%;
}
a {
    color: #F6BD60;
}
.container {
    width: 100%;
    background-color: #000000;
}
.header {
    padding: 5px 15px 5px 50px;
}
.header-container h1 {
    font-family: 'Roboto', monospace;
    color: #F0EFF4;
}
.header-container h2 {
    font-family: 'Merriweather', serif;
    color: #696A6F;
    line-height: 0;
}
.menu-container {
    font-family: 'Roboto', monospace;
    align-items: center;
    padding: 0px 15px 30px 50px;
    display: flex;
    color: #E8EDDF;
}
.github, .twitter, .linkedin, .github a, .twitter a, .linkedin a {
    text-decoration: none;
    color: #F0EFF4;
    padding: 0px 20px 0px 5px;
    line-height: 0;
}
.github {
    border-bottom: 5px solid #3D2645;
}
.twitter {
    border-bottom: 5px solid #832161;
}
.linkedin {
    border-bottom: 5px solid #DA4167;
}
.footer {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #F0EFF4;
    padding: 10px;
}
.footer a {
    color: #DA4167;
}
.inner-container {
    width: 100%;
    display: flex;
    color: #E8EDDF;
}
.first, .second, .third {
    font-family: 'Roboto', monospace;
    background-color: #3D2645;
    text-align: center;
    width: 33.3333%;
    padding: 10px;
}
.second {
    background-color: #832161;
}
.third {
    background-color: #DA4167;
}
