/*
    Here for the pretty colors or fonts? I gotchu:

    * Colors
    #000000 - Registration Black
    #3D2645 - Russian Violet
    #832161 - Dark Raspberry
    #DA4167 - Paradise Pink
    #F0EFF4 - Anti-Flash White
    #E8EDDF - Platinum
    #696A6F - Grey Worm
    #FFA723 - Bright Yellow
    #B50E0E - International Orange (Engineering)
    #1E96FF - Dodger Blue

    * Google Fonts
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
*/

/* --- HTML, Body, Links --- */
html, body {
    margin: 0;
    height: 100%;
    background-color: #000000;
}
a {
    color: #DA4167;
    text-decoration: none;
}

/* --- Main container --- */
.container {
    max-width: 850px;
    margin: 0 auto;
    background-color: #000000;
}
.header {
    padding: 5px 15px 5px 0px;
}
.header-container h1 {
    font-family: 'Roboto', monospace;
    color: #F0EFF4;
}
.header-container h2 {
    font-family: 'Merriweather', serif;
    color: #696A6F;
    line-height: 0;
}

/* --- Menu --- */
.menu-container {
    font-family: 'Roboto', monospace;
    align-items: center;
    padding: 15px 15px 15px 0px;
    display: flex;
    color: #E8EDDF;
}
.github, .twitter, .linkedin, .email, .github a, .twitter a, .linkedin a, .email a {
    color: #F0EFF4;
    padding: 0px 20px 0px 5px;
    line-height: 0;
}
.github, .email {
    border-bottom: 5px solid #3D2645;
}
.twitter {
    border-bottom: 5px solid #832161;
}
.linkedin {
    border-bottom: 5px solid #DA4167;
}

/* --- Description tag --- */
.description {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    padding: 15px 15px 5px 0px;
    color: #F0EFF4;
}

/* --- Footer --- */
.footer {
    font-family: 'Merriweather', serif;
    font-size: 12px;
    text-align: center;
    color: #F0EFF4;
    padding: 10px;
}

/* --- Three blocks --- */
.inner-container {
    width: 100%;
    display: flex;
    color: #E8EDDF;
}
#first, #second, #third {
    font-family: 'Roboto', monospace;
    background-color: #3D2645;
    height: 65vh;
    width: 33.3333%;
    padding: 10px;
}
#second {
    background-color: #832161;
}
#third {
    background-color: #DA4167;
}
#first h2, #second h2, #third h2, #first p, #second p, #third p {
    position: relative;
    text-align: center;
    float: none;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#first p, #second p, #third p {
    font-size: 14px;
}
